body {
	margin: 0px;
}

div {
	position:absolute;
	margin:0px;
	padding:0px;
}

.bannerSize {
	width:728px;
	height:90px;
}

svg {
	position: absolute;
	opacity: 1;
}

#viewport {
	overflow:hidden;
    background-color: #FFFFFF;
    position: relative;
    margin: 0 auto;
}
/*
.st0{fill:#F69679;}
.st1{fill:#FFFFFF;}
.st2{fill:#56C5D0;}
.st3{fill:#00B48D;}
.st4{fill:#56C5D0;stroke:#56C5D0;stroke-width:0.6781;stroke-miterlimit:10;}
.st5{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.6781;stroke-miterlimit:10;}
.st6{fill:none;stroke:#F69679;stroke-width:4.0683;stroke-miterlimit:10;}
.st7{fill:#00B186;}
.st8{fill:#F59579;}
.st9{fill:#E6E7E8;}
.st10{fill:#F69679;stroke:#F69679;stroke-miterlimit:10;}
.st11{fill:none;stroke:#56C5D0;stroke-width:7.7976;stroke-miterlimit:10;}
.st12{fill:none;stroke:#F69679;stroke-width:7.7976;stroke-miterlimit:10;}
.st13{fill:none;stroke:#00B48D;stroke-width:7.7976;stroke-miterlimit:10;}
.st14{fill:none;stroke:#FFFFFF;stroke-width:7.7976;stroke-miterlimit:10;}
.st15{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:4.0683;stroke-miterlimit:10;}
.st16{fill:none;stroke:#FFFFFF;stroke-width:4.0683;stroke-miterlimit:10;}
.st17{fill:none;stroke:#56C5D0;stroke-width:0;stroke-miterlimit:10;}
.st18{fill:#00B48D;stroke:#00B48D;stroke-width:0.9578;stroke-miterlimit:10;}
.st19{fill:none;stroke:#00B48D;stroke-width:4.0683;stroke-miterlimit:10;}*/

#border {
	position: absolute;
	pointer-events: none;
    left: 0px;
    top: 0px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #000000;
}

#clickable {
	position: absolute;
    left: 0px;
    top: 0px;
	background-color: white;
	opacity: 0;
}

#background {
	position: absolute;
    left: 0px;
    top: 0px;
    background-color: #fff;
	/*background: url(images/background.jpg) no-repeat;*/
}

#logo {
	position: absolute;
    left: 0px;
    top: 0px;
	background: url(images/logo.png) no-repeat;
	background-size: contain;
}

#txt1 {
	position: absolute;
    left: 0px;
    top: 0px;
	background: url(images/txt1.png) no-repeat;
	background-size: contain;
}

#txt2 {
	position: absolute;
    left: 0px;
    top: 0px;
	background: url(images/txt2.png) no-repeat;
	background-size: contain;
}

#shapeContainer {
	position: absolute;
    left: 0px;
    top: 0px;
}

#headline {
	position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 250px;
}

#cta {
	position: absolute;
	overflow: hidden;
    right: 19px;
    top: 22px;
	width:121px;
	height:44px;
	background: url(images/cta.png) no-repeat;
	background-size: contain;
}

#ctaOver {
	position: absolute;
    left: 0px;
    top: 0px;
	width:100%;
	height:100%;
	background: #FFF;
}

#ctaTxt {
	position: absolute;
    left: 0px;
    top: 0px;
	width:140.5px;
	height:23px;
	/*background: url(images/ctaTxt.png) no-repeat;*/
	background-size: contain;
}

#sheen {
	position: absolute;
    left: -80px;
    top: 0px;
	width:79px;
	height:58px;
	background: url(images/sheen.png) no-repeat;
}
